# Build environment
.pio
.vscode

# Logs
log
*.log

# Compiled files
*.o

# Binaries
*.bin
*.hex
*.elf

# Map files
*.map

# Data files
data/*.csv
# My python .venv (idk how to do it other way than in script folder)
script/.venv/